{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{% include 'header.html.twig' %}

<div class="transaction-dahsboard">
    <div class="mes-transactions-btn">
        <div class="buttons-group add-buttons">
            <a href="{{ path('app_transaction_new') }}" class="btn btn-primary">➕ Ajouter transaction</a>
            <a href="{{ path('app_category_new') }}" class="btn btn-primary">➕ Ajouter une catégorie</a>
            <a href="{{ path('app_withdrawal_new') }}" class="btn btn-primary">➕ Ajouter un prélèvement</a>
        </div>
        <div class="buttons-group view-buttons">
            <a href="{{ path('app_transaction_index') }}" class="btn btn-success">Voir les transactions</a>
            <a href="{{ path('app_category_index') }}" class="btn btn-success">Voir les catégories</a>
            <a href="{{ path('app_withdrawal_index') }}" class="btn btn-success">Voir les prélèvements</a>
        </div>
    </div>
<hr>
    <div class="mes-transactions">
        <h2>Mes transactions</h2>
        <strong>{% include 'transaction/_list.html.twig' with
            { transactions: transactions, itemsByDate: itemsByDate } %} 
    </strong>
    </div>
</div>
{% endblock %}