{# template/transaction/_list.html.twig #}

{% if transactions is empty %} 
 
<p>Aucune transaction enregistrée.</p>

{% else %} 

<div>
    <div>
        {% set total = 0 %}
        {% for transaction in transactions %}
            {% set total = total + transaction.amount %}
        {% endfor %}
        <p>{{ total }} €</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th>Type</th>
                {# <th>Catégorie</th> #}
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date|date('d/m/Y') }}</td>
                <td>{{ transaction.amount }} €</td>
                <td>{{ transaction.type.label }}</td>
                {# <td>{{ transaction.category.name }}</td> #}
                <td>{{ transaction.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}